<div class="masthead">
  <div class="masthead-content text-white">
    <div class="container-fluid px-4 px-lg-0">
      <p class="mb-2 p-4">Tentang Saya</p>
      <img src="img/foto.jpeg" height="260px" width="180px" srcset="" />
      <p>Heri Ramadhan</p>
      <p>21343050</p>
      <p>Universitas Negeri Padang</p>
      <p>Saya adalah seorang mahasiswa informatika dari Universitas Negeri Padang yang sangat tertarik dengan peran sebagai seorang backend developer</p>
    </div>
  </div>
</div>