<div class="masthead">
  <div class="masthead-content text-white">
    <div class="container-fluid px-4 px-lg-0">
      <h1 class="fst-italic lh-1 mb-4">FAQ</h1>
      {{! <p>a. Halaman ini digunakan untuk apa?</p>
      <p>b. Apa itu API?</p>
      <p>c. API apa yang digunakan dalam aplikasi ini?</p>
      <p>d. Salah satu pola arsitektur API adalah (pilih salah satu SOAP, RESTful, GraphQL dan gRPC)</p>
      <p>Lampirkan juga gambar yang telah anda buat sebagai pelengkap</p> }}
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              a. Halaman ini digunakan untuk apa?
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">halaman FAQ bertujuan untuk memberikan informasi yang jelas dan mudah ditemukan tentang topik-topik umum yang sering ditanyakan</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
              b. Apa itu API?
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">ChatGPT API (Application Programming Interface) adalah set aturan dan protokol yang memungkinkan berbagai perangkat lunak atau sistem komunikasi dan berinteraksi satu sama lain. API memungkinkan
              aplikasi atau komponen perangkat lunak yang berbeda untuk saling berkomunikasi, berbagi data, dan beroperasi bersama..</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
              c. API apa yang digunakan dalam aplikasi ini?
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">API yang digunakan dalam aplikasi ini adalah Weather dan MediaStack, dimana Weather berfungsi untuk mencari cuaca terkini dari suatu yg kita cari, sedangkan mediaStack untuk melihat berita terkini</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
              d. Penjelasan RESTful
            </button>
          </h2>
          <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">RESTful adalah singkatan dari "Representational State Transfer" (Transfer Status Representasional), dan itu adalah pendekatan arsitektur perangkat lunak yang digunakan dalam pengembangan aplikasi web.
              RESTful API (atau layanan web RESTful) adalah jenis API yang mengikuti prinsip-prinsip REST dalam desainnya.
              <a href="img/rest.png" target="_blank">Gambar</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>