<div class="masthead">
  <div class="masthead-content text-white">
    <div class="container-fluid px-4 px-lg-0">
          <h1 class="fst-italic lh-1 mb-4">Website Pendeteksi Cuaca</h1>
          <p class="mb-5">Cari Lokasi Yang Anda Inginkan Pada Input Pencarian dibawah!</p>
          <form data-sb-form-api-token="API_TOKEN">
            <!-- Email address input-->
            <div class="row input-group-newsletter">
              <div class="col"><input class="form-control" type="text" placeholder="Masukkan Lokasi..." /></div>
              <div class="col-auto"><button class="btn btn-primary disabled" id="submitButton" type="submit">Enter</button></div>
                <div class="text-center mb-3 mt-2">
                  <div class="fw-bolder" id="pesan-1"></div>
                  <div class="fw-bolder" id="pesan-2"></div>
                </div>
              </div>
            </div>
          </form>
    </div>
  </div>
</div>